@charset "UTF-8";
main {
    margin: 30px auto 0;
    padding: 0;
    font-size: 0;
}

/*整个main标签*/
.content {
    margin: 0 auto;
    width: 1200px;
    height: auto;
    /*border: 1px solid hotpink;*/
}

/*标题*/
.content h1 {
    margin: 54px 0;
    color: #CD7436;
    font-weight: inherit;
    font-size: 36px;
    text-align: center;
}

/*图片*/
.content-main {
    width: 1200px;
    height: auto;
    /*border: 1px solid blueviolet;*/
}

.content-main-one {
    width: 1200px;
    height: 380px;
}

/*.content-main-one div:nth-of-type(1){*/
/*display: inline-block;*/
/*}*/
/********************************************************************************
****/
.bannerssBox {
    width: 793px;
    height: 380px;
    position: relative;
    overflow: hidden;
}

.bannerssBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: all 1s linear;
}

.bannerssBox img.zIndex {
    z-index: 999;
    display: inline;
    transition: all 1s linear;
    opacity: 1;
    animation: imgScale 6s linear;
}

@keyframes imgScale {
    0% {
        transform: scale(1);
        opacity: 0
    }
    20% {
        opacity: 0.8
    }
    75% {
        transform: scale(1.2);
        opacity: 1
    }
    100% {
        transform: scale(1);
        opacity: 0
    }
}

.box {
    position: relative;
}

.box ul {
    position: absolute;
    z-index: 999;
    bottom: 10px;
    left: 20px;
}

.box ul li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin-right: 10px;
    cursor: pointer;
}

.box ul li:hover {
    border: 2px solid skyblue;
    background: skyblue;
}

.box ul li.activeHover {
    border: 2px solid skyblue;
    background: skyblue;
}

.content-main > div {
    margin-bottom: 20px;
}

.content-main-one > div:last-child {
    background: red;
    flex: 1;
    margin-left: 20px;
    background: url("../img/example_0(2).jpg") no-repeat center center / cover;
}

.content-main-two {
    /*background: red;*/
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
}

.content-main-two div {
    flex: 0 0 386px;
    height: 380px;
}
.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box span {
    width: 100px;
    height: 40px;
    line-height: 40px;
    background: #999;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
}
.box span:hover {
    background: #82c353;
}

/*************************************************************************
*/

.content-main-two div:nth-of-type(1) {

    border: 1px solid #CCCCCC;
    background: url("../img/example_0(2).jpg");
    background-size: cover;
}

.content-main-two div:nth-of-type(2) {

    height: 780px;
    border: 1px solid #CCCCCC;

    background: url("../img/example_2.jpg");
    background-size: cover;
}

.content-main-two div:nth-of-type(3) {

    border: 1px solid #CCCCCC;
    background: url("../img/example_0(2).jpg");
    background-size: cover;
}

.content-main-two div:nth-of-type(4) {

    border: 1px solid #CCCCCC;
    position: absolute;
    top: 400px;
    width: 386px;
    left: 0;
    z-index: 1;
    background: url("../img/example_0(2).jpg");
    background-size: cover;
}

.content-main-two div:nth-of-type(5) {
    position: absolute;
    top: 400px;
    width: 386px;
    right: 0;

    z-index: 1;
    border: 1px solid #CCCCCC;

    background: url("../img/example_0(2).jpg");
    background-size: cover;
}

.content-main-three {
    width: 1200px;
    height: 400px;
    /*border: 1px solid orange;*/
    display: flex;
    justify-content: space-between;
}

.content-main-three div:first-of-type {
    width: 386px;
    height: 386px;
    border: 1px solid #CCCCCC;
    background: url("../img/example_0(2).jpg");
    background-size: cover;
}

.content-main-three div:last-of-type {
    width: 792px;
    height: 386px;
    border: 1px solid #CCCCCC;

    background: url("../img/example_14.jpg");
    background-size: cover;
}

/*****************************************************
/


/*************************************************************************************
头部尾部代码
*/

body {
    background: url("../img/f1.jpg") no-repeat center 0;
}

/*弹性布局水平间隙相等两边无间距：多次引用*/
.horizontal {
    display: flex;
    justify-content: space-between;
}

/*弹性布局水平间隙相等两边有间距：多次引用*/
.around {
    display: flex;
    justify-content: space-around;
}

/*头部盒子设置*/
.topBox {
    width: 100%;
}

/*版心设置*/
.centerBox {
    width: 1200px;
    height: 222px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

/*左上方图片设置*/
.contUS_mark {
    display: block;
    width: 221px;
    height: 53px;
    overflow: hidden;
    background-color: rgba(59, 59, 59, 0.76);
    background-image: url("../img/f2.png");
    background-position: 0 -138px;
}

.contUS_mark:hover {
    background-image: url("../img/f2.png");
    background-position: 0 -191px;
}

/*logo盒子设置*/
.logoBox {
    height: 242px;
    position: relative;
}

.logo {
    display: block;
    width: 286px;
    height: 83px;
    overflow: hidden;
    background-image: url("../img/f2.png");
    background-position: -6px -48px;
    margin-top: 60px;
}

/*右边购物车盒子设置*/
.loginOrShop {
    width: 186px;
    height: 60px;
    margin-top: 85px;
}

.Land {
    display: block;
    width: 105px;
    height: 37px;
    margin-top: 11.5px;
    background-image: url("../img/f2.png");
    background-position: -2990px -146px;
}

.Land:hover {
    background-image: url("../img/f2.png");
    background-position: -2990px -183px;
}

.gapLine_0 {
    width: 1px;
    height: 36px;
    border-right: 2px solid #ccc;
    margin-top: 11.5px;
    margin-left: 10px;
    display: inline-block;
}

.cartIcon {
    display: block;
    width: 54px;
    height: 54px;
    background-image: url("../img/f2.png");
    background-position: -18px 149px;
}

/*多选菜单设置*/
.selectMenu {
    width: 140px;
    height: 34px;
    border: 1px solid #bfbfbe;
    margin: 20px auto;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.selectMenu:hover > p {
    background-image: url("../img/f2.png");
    background-position: -790px -79px;
}

.selectMenu > span {
    padding-left: 17px;
    padding-top: 5px;
    font-size: 16px;
    color: #666;
    font-family: "微软雅黑 Light";
}

.selectMenu ul {
    width: auto;
    position: absolute;
    top: 35px;
    left: -1px;
    font-size: 16px;
    color: #666;
    font-family: "微软雅黑 Light";
    border-right: 1px solid #bfbfbe;
    border-left: 1px solid #bfbfbe;
    border-bottom: 1px solid #bfbfbe;
    display: none;
    z-index: 1;
}

.selectMenu:hover ul {
    display: block;
}

.selectMenu > ul li {
    width: 140px;
    height: 34px;
    line-height: 34px;
    background-color: white;
}
.selectMenu ul li:hover {
    background: #82c353;
    color: #ffffff;
}

.selectMenu > p {
    width: 34px;
    height: 34px;
    position: absolute;
    right: 0;
    background-image: url("../img/f2.png");
    background-position: -790px -45px;
}

/*菜单栏设置*/
.banner {
    width: 100%;
    /*border: 1px solid #bfbfbe;*/
}

/*菜单盒子设置*/
.navBox {
    width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    position: relative;
    border-bottom: 1px solid #cccbca;
    border-top: 1px solid #cccbca;
    background: #ffffff;

}

/*菜单设置*/
.navBox > ul {
    width: 1050px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    position: relative;
}

.navBox > ul > li {
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.navBox > ul > li:hover > a {
    color: #ff6730;
}

.navBox > ul > li:hover {
    /*border-bottom: 1px solid #ff6730;*/
    /*border-left: 1px solid #bfbfbe;*/
    /*border-right: 1px solid #bfbfbe;*/
}

.navBox > ul > li > a {
    font-size: 18px;
    font-family: "微软雅黑 Light";
    color: #666;

}

.navBox > ul > li:hover .second_2 {
    /*display: block;*/
}
.navBox > ul > li .second_2 li:hover a {
    background: #82c353;
    color: #ffffff;!important;

}

/*二级菜单设置*/
.second_2 {
    position: absolute;
    top: 52px;
    left: 0px;
    /*border-top: 1px solid sandybrown;*/
    height: auto;
    background-color: white;

    display: none;
    z-index: 9999;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #cccbca;
}

.second_2 a {
    display: block;
    width: auto;
    height: 51px;
    text-align: center;
    font-family: "微软雅黑 Light";
    font-size: 15px;
    color: #666;
}

/*搜索框设置*/
.nav_search {
    width: 126px;
    height: 34px;
    margin: 0 34px 0 40px;
    position: absolute;
    right: 0;
    top: 8px;
    border: 1px solid #bfbfbe;
}

.search {
    width: 80px;
    height: 34px;
    padding: 0 10px;
    font-size: 14px;
    font-family: "微软雅黑 Light";
    color: #666;
}

.nav_search span {
    display: block;
    width: 34px;
    height: 34px;
    background-image: url("../img/f2.png");
    background-position: -763px -45px;
}

/*尾部设置*/
/*尾部容器设置*/
.bottonBox {
    width: 100%;
    padding: 0 0 20px 0;
    box-sizing: border-box;
    background-color: rgba(219, 219, 218, 0.5);
}

/*通栏设置*/
.pageBanner {
    width: 100%;
    height: 76px;
    background-color: #82c353;
    text-align: center;
}

/*底部版心设置*/
.pagBox {
    width: 1200px;
    height: 76px;
    margin: 0 auto;
    line-height: 76px;
    letter-spacing: 9px;
    font-family: "微软雅黑 Light";
    font-size: 22px;
    color: #fff;
}

/*底部五角星盒子设置*/
.thotoBox {
    width: 775px;
    height: 120px;
    margin: 25px auto;
}

/*子元素设置*/
.thotoBox > div {
    width: 155px;
    height: 120px;
    text-align: center;
}

.thotoBox > div > span {
    display: block;
    width: 88px;
    height: 97px;
    margin: 0 auto;
    font: normal 24px/97px "微软雅黑";
    color: #fff;
    background-image: url("../img/f2.png");
    background-position: -803px -134px;
}

.thotoBox > div > div {
    line-height: 14px;
    font-size: 13px;
    color: #999;
    text-align: center;
    margin-top: 6px;
}

/*尾部信息栏设置*/
.informationBox {
    width: 1200px;
    margin: 36px auto;

}

.informationBox > div {
    /*background: red;*/
    padding: 0 41px 0 47px;
    width: 217px;
    height: 120px;
    border-left: 1px solid #888888;

}
.informationBox > div h2 {
    margin-bottom: 10px;
}
.informationBox > div a {
    font-size: 12px;
    color: #999999;
}
.informationBox > div > div a:first-child{
    margin-right: 10px;
}

.informationBox > div:last-child {
    border-right: 1px solid #888888;
}
.informationBox > div.information{
    text-align: center;
}

    /*.informationBox > .smallboxs, .contact {*/
    /*padding-left: 70px;*/
    /*padding-right: 20px;*/
/*}*/

/*.smallboxs h2, .contact h2 {*/
    /*font: bold 16px/22px "微软雅黑";*/
/*}*/

/*.smallboxs a, .contact div, .information {*/
    /*font-size: 12px;*/
    /*font-family: "微软雅黑 Light";*/
    /*color: #666;*/
/*}*/

/*.information {*/
    /*!*border-right: 1px solid  #888888;*!*/
/*}*/

/*.information {*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
/*}*/

/*.information > .smallicons {*/
    /*display: block;*/
    /*width: 26px;*/
    /*height: 27px;*/
    /*float: left;*/
/*}*/

.text {
    width: 712px;
    height: 48px;
    margin: 0 auto;
    background-color: #82c353;
    text-align: center;
    font: normal 15px/48px "微软雅黑";
    color: #fff;
}

.wechat {
    background-image: url("../img/f2.png");
    background-position: -725px -1971px;
}

.sign_2 {
    background-image: url("../img/f2.png");
    background-position: -829px -47px;
}

.weChat {
    background-image: url("../img/f2.png");
    background-position: -810px -1971px;
}

.sign_1 {
    background-image: url("../img/f2.png");
    background-position: -830px -85px;
}

.bigicons {
    margin: 10px auto;
    width: 86px;
    height: 86px;
}


